body {
  background-color: rgb(176, 184, 184);
}

.container {
  padding: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  flex: wrap;
  justify-content: space-around;
  align-items: baseline;
  font-family: 'Lucida Sans', sans-serif;
}

.articleBox{
  margin: 50px auto;
  width: 22%;
  border: 1px solid black;
  opacity: 0.8;
  transition: ease 0.5s;
  padding: 4px;
  background-color: rgb(233, 227, 227);
}

img {
  width:100%;
}

.articleBox:hover{
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (max-width:500px) {
  .articleBox{
    margin: 20px auto;
    width: 24%;
  }
.title {
font-size: 16.5px;
}
}